.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}


.logo {
  position: relative;
}

.buttonStart {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  background-color: white;
  padding: 0.5rem 2rem;
  border: black solid 0.2rem;
  box-shadow: -3px 4px rgb(129, 129, 129);
  border-radius: 12px;
  width: 10rem;
  cursor: pointer;
  font-family: var(--font-mono);
}

.buttonStart:hover {
  background-color: #F4EDF9;
  transform: translateY(5px);
}

.buttonStart:active {
  background-color: #F4EDF9;
  transform: translateY(5px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B6ACBD;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 3rem;
  text-align: center;
  padding: 0;
}

.footer p {
  color: rgb(77, 77, 77);
  font-size: 0.8rem;
  font-family: 'Krona One', sans-serif;
}

.taskmateHomepage {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
}

/* Setting page */

.setting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.inputButton {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  background-color: white;
  padding: 0.5rem 2rem;
  border: black solid 0.2rem;
  box-shadow: -3px 4px rgb(129, 129, 129);
  border-radius: 12px;
  width: 15rem;
  height: 3rem;
  font-family: var(--font-mono);
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.taskmateSetting {
  position: absolute;
  bottom: 3rem;
}

.hamburgerMenu {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.hamburgerContainer {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  background-color: white;
  padding: 0.5rem 2rem;
  border: black solid 0.2rem;
  box-shadow: -3px 4px rgb(129, 129, 129);
  border-radius: 12px;
  width: 8rem;
  height: 10rem;
  cursor: pointer;
  font-family: var(--font-mono);
  margin-top: 1rem;
  justify-content: space-evenly;
}



/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background-clip: padding-box;
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .taskmatelogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
