.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.logo {
  position: relative;
}

.buttonStart {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  background-color: white;
  padding: 0.5rem 2rem;
  border: black solid 0.2rem;
  box-shadow: -3px 4px rgb(129, 129, 129);
  border-radius: 12px;
  width: 10rem;
  cursor: pointer;
  font-family: var(--font-mono);
}

.buttonStart:hover {
  background-color: #F4EDF9;
  transform: translateY(5px);
}

.buttonStart:active {
  background-color: #F4EDF9;
  transform: translateY(5px);
}


.taskmateHomepage {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
}

/* Setting page */

.setting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.taskmateSetting {
  position: absolute;
  bottom: 3rem;
}

/* Todo list */

.taskmateTodo {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
}

.hamburgerMenu {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
